<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="topbar1" style="margin-left: -1%;">

    <div class="rows col-sm-12">
        <div class="cols col-sm-8" align='left'>
            <ul class="nav navbar-nav">
                <li class="active "><a class="navbar-brand" href="/home">Project</a></li>
            </ul>
        </div>
        <div class="cols col-sm-2" align="right"></div>
        <div class="cols col-sm-2" align="right">
            <p style="color: red">
                <%=user.name %>
                <%=user.role%>
                <img src="/images/default.jpg" class="rounded-circle img-thumbnail" height='25%' width="25%">
            </p>
        </div>
    </div>
</nav>