<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <%- include ../partials/header %>
    </header>
    <div class="row">
        <div class="col-sm-2">
            <%- include ../partials/navbar %>
        </div>
    </div>

</body>

</html>