<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<table id="example" class="display" style="width:100%">

</table>
<script>
    // $(document).ready(function () {
    //     $('#example').DataTable();
    // });
    var dataSet = [{ name: 'ADMIN', city: 'Mohali', phone: '9876543210', status: 0 },
    { name: '', city: 'Chandigarh', phone: '9876543210', status: 0 },
    {
        name: 'User2',
        city: 'Chandigarh',
        phone: '9876543210',
        status: 0
    },
    { name: 'Cm 1', city: 'Baddi', phone: '9876543210', status: 0 },
    { name: '', city: 'Baddi', phone: '9876543210', status: 1 },
    {
        name: 'Gagan',
        city: 'Chandigarh,',
        phone: '9876543210',
        status: 0
    }];

    $(document).ready(function () {
        $('#example').DataTable({
            data: dataSet,
            'columns': [
                { 'title': 'Usename/Email', 'data': 'name', 'orderable': true, 'searchable': true, 'sClass': 'tableUname' },
                { 'title': 'Phone', 'data': 'phone', 'orderable': true, 'searchable': false, 'sClass': 'tablePhone' },
                { 'title': 'City', 'data': 'city', 'orderable': true, 'searchable': true, 'sClass': 'tableCity' }
            ],
        });
    });
</script>